*{ margin:0; box-sizing:border-box;}
#mystyle{
    border: 1px outset red;
/* background-color: lightblue; */
/* background-color: #FFDEE9; */

text-align: center;
color: black;
height: auto;
width:auto;
padding:2px;
}
#myUL{
    /* border: 5px outset red; */
/* background-color: lightblue; */
color: black;
text-align: center;
margin: 0;
padding: 0;

}
.myli{
    /* border: 5px outset red; */
/* background-color: lightblue; */
/* background-color: #FFDEE9; */
font: bold;
font-size: large;
/* background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */

/* background-size: cover; */
/* background-repeat: no-repeat; */
color: black;
text-align: center;
margin: 0;
padding: 0; 
height: 60px;
}
#addBtn{
    background-color: yellow;
    padding: 6px 10px;
}
#newnote{
    padding: 6px 10px;
    box-sizing: border-box;
}