{% extends "base.html" %}
{% block title %}Scheduler- Stats{% endblock %}
{% block content %}
<div id="stats">
    <div class="schedule">
        <h3>Today's Schedule</h3> 
        <p class="detailedPara">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, laboriosam vitae quam eius deleniti odit ad quo vero praesentium nostrum molestiae tempora dolores nesciunt adipisci labore ipsam animi eveniet accusantium eum quos sint cumque. Illo voluptate ex rerum minus beatae libero? Sit in quasi et illo alias eaque quisquam iure est perspiciatis vel recusandae nobis veritatis officia explicabo eos voluptates, id repellendus quibusdam. Deserunt, architecto aperiam sapiente porro tempore vero a beatae hic et, non, id quibusdam quis temporibus odit officia necessitatibus ducimus minus dolor perspiciatis quidem sed aspernatur officiis. Error quod saepe nisi non repellendus quo ratione dolores nulla?
        </p>
    </div>
    <div class="todo"> 
        <h3>ToDo List</h3> 
        <p class="detailedPara">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, laboriosam vitae quam eius deleniti odit ad quo vero praesentium nostrum molestiae tempora dolores nesciunt adipisci labore ipsam animi eveniet accusantium eum quos sint cumque. Illo voluptate ex rerum minus beatae libero? Sit in quasi et illo alias eaque quisquam iure est perspiciatis vel recusandae nobis veritatis officia explicabo eos voluptates, id repellendus quibusdam. Deserunt, architecto aperiam sapiente porro tempore vero a beatae hic et, non, id quibusdam quis temporibus odit officia necessitatibus ducimus minus dolor perspiciatis quidem sed aspernatur officiis. Error quod saepe nisi non repellendus quo ratione dolores nulla?
        </p>
    </div>
    <div class="missed"> 
        <h3>Missed</h3> 
        <p class="detailedPara">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, laboriosam vitae quam eius deleniti odit ad quo vero praesentium nostrum molestiae tempora dolores nesciunt adipisci labore ipsam animi eveniet accusantium eum quos sint cumque. Illo voluptate ex rerum minus beatae libero? Sit in quasi et illo alias eaque quisquam iure est perspiciatis vel recusandae nobis veritatis officia explicabo eos voluptates, id repellendus quibusdam. Deserunt, architecto aperiam sapiente porro tempore vero a beatae hic et, non, id quibusdam quis temporibus odit officia necessitatibus ducimus minus dolor perspiciatis quidem sed aspernatur officiis. Error quod saepe nisi non repellendus quo ratione dolores nulla?
        </p>
    </div>
    <div class="notes"> 
        <h3>Notes</h3> 
        <p class="detailedPara">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, laboriosam vitae quam eius deleniti odit ad quo vero praesentium nostrum molestiae tempora dolores nesciunt adipisci labore ipsam animi eveniet accusantium eum quos sint cumque. Illo voluptate ex rerum minus beatae libero? Sit in quasi et illo alias eaque quisquam iure est perspiciatis vel recusandae nobis veritatis officia explicabo eos voluptates, id repellendus quibusdam. Deserunt, architecto aperiam sapiente porro tempore vero a beatae hic et, non, id quibusdam quis temporibus odit officia necessitatibus ducimus minus dolor perspiciatis quidem sed aspernatur officiis. Error quod saepe nisi non repellendus quo ratione dolores nulla?
        </p>
    </div>
</div>
{% endblock %}